[submodule "instagram-app"]
	path = instagram-app
	url = git@github.com:emirchus/instagram-app.git
[submodule "instagram-backend"]
	path = instagram-backend
	url = git@github.com:emirchus/instagram-backend.git
